
         body{
            
            background-image: url("v567-mynt-doodles-01.jpg");
        /*    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW8A7Ylwz_5fyu13RJlv8r7Fs8dQGXzZ9DWkClX1y24j54zHcx-mQDbtKAOU3_xCaO-j0&usqp=CAU");
        */    background-repeat: no-repeat;
            background-size: cover;
            height: auto;
         }
   